@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/*css for universal  */
 body {
    font-family: "Azeret Mono", monospace;
 }
 .share-color {
    color: #0D1321;
 }
 .share-p {
    font-size: 16px;
    color: #0D1321;
    text-align: center;
}
.share-h2 {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
}
 
 /* css for header */
.header-container {
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
}
.banner-content {
    width: 998px;
    height: 581px;
    margin: 0 auto;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-content h1 {
    font-size: 48px;
    color: #0D1321;
    font-weight: 900;
    text-align: center;
}
.btn {
    padding: 21px 24px;
    background-color: #0D1321;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}
/* css for main section */
.development-container {
    background-color: #f6f3f3;
    width: 1140px;
    height: 1350px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 90px;
}
.development-content {
    width: 946px;
    height: 1233px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.development-content p {
    margin-bottom: 40px;
}
.gap {
    margin: 40px 0;
}
.development-sub-content {
    background-color: white;
    border-radius: 8px;
    display: flex;
    gap: 98px;
    justify-content: space-between;
    padding: 48px;
}
.development-details h3 {
    font-size: 24px;
    color: #0D1321;
}
.btn-2 {
    padding: 12px 20px;
    background-color: white;
    color: #0D1321;
    cursor: pointer;
}
/* css for video section */
.video-section {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video {
    width: 1076px;
    height: 550px;
    margin: 32px auto;
}

/* css for target section */
.target-container {
    width: 1140px;
    height: 485px;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 150px;
}
.card-contents {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.card {
    width: 284px;
    height: 257px;
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}
.card h4 {
    font-size: 24px;
    font-weight: 800;
}
.card p {
    font-size: 16px;
    color: #0D1321;
}
.card a {
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;

}