@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/*css for share  */
 body {
    font-family: "Azeret Mono", monospace;
 }
 .share-color {
    color: #0D1321;
 }
 .share-p {
    font-size: 16px;
    color: #0D1321;
    text-align: center;
}
 .share-left-align-p {
    font-size: 16px;
    color: #0D1321;
}

.share-h2 {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
}
.card-a {
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
}
 
 /* css for header */

 .top-header-section {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .header-btn {
    padding: 17px 24px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.55);
    cursor: pointer;
 }
.header-container {
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
}
.banner-content {
    width: 998px;
    height: 581px;
    margin: 0 auto;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-content h1 {
    font-size: 48px;
    color: #0D1321;
    font-weight: 900;
    text-align: center;
}
.btn {
    padding: 21px 24px;
    background-color: #0D1321;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.55);
}
/* css for main section */
.development-container {
    background-color: rgba(242, 238, 238, 0.55);
    width: 1140px;
    height: 1350px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 90px;
    border: 1px solid rgba(128, 128, 128, 0.55);
    border-radius: 16px;
    padding-bottom: 50px;
}
.development-content {
    width: 946px;
    height: 1233px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.development-content p {
    margin-bottom: 40px;
}
.gap {
    margin: 40px 0;
}
.development-sub-content {
    background-color: white;
    border-radius: 8px;
    display: flex;
    gap: 98px;
    justify-content: space-between;
    padding: 48px;
}
.development-details h3 {
    font-size: 24px;
    color: #0D1321;
}
.btn-2 {
    padding: 12px 20px;
    background-color: white;
    color: #0D1321;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.55);
}
/* css for video section */
.video-section {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video {
    width: 1076px;
    height: 550px;
    margin: 32px auto;
    border: 1px solid rgba(128, 128, 128, 0.55);
    padding: 32px;
    border-radius: 16px;
}
.youtube-video {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

/* css for target section */
.target-container {
    width: 1140px;
    height: 485px;
    margin: 0 auto;
    margin-top: 150px;
}
.card-contents {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.card {
    width: 284px;
    height: 257px;
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}
.card h4 {
    font-size: 24px;
    font-weight: 800;
}
.card p {
    font-size: 16px;
    color: #0D1321;
}
.card-css {
    background-color: rgba(0, 76, 232, 0.05);
}
.card-js {
    background-color: rgba(255, 223, 0, 0.05);
}

/* css for next target */
.next-target {
    width: 1140px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 80px;
}
.next-target-container {
    width: 1140px;
    border: 1px solid rgba(128, 128, 128, 0.55);
    margin-top: 24px;
    border-radius: 16px;
}
.next-target-content {
    width: 1060px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.react-content h5 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
}
/* css for footer */
.footer-section {
    max-width: 1440px;
    margin: 0 auto;
}
.support-section {
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    width: 1140px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.support-content {
    width: 1044px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-content h2 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
    color: white;
}
.support-content p {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
.input-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.input-suggest {
    padding: 19px 200px 19px 20px;
    border-radius: 8px;
}
.input-submit {
    padding: 15px 22px;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    border-radius: 8px;
}
.footer-last-section {
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.footer-last-area {
    background-color: rgba(13, 19, 33, 0.03);
}